/*NAVIGATION*/

/*Styles Whole Menu*/
#selectGear {
	background-color: #D2042D;
	list-style-type: none;
	position: absolute;
	font-family: sans-serif;
	font-size: 100%;
	font-weight: 600;
	width: 100%;
	height: 18px;
}

/*Styles Each Category*/
.category {
	background-color: silver;
	border-radius: 10px;
	width: 110px;
	
	float: left;
	margin-right: 4px;
	
}

/*Styles Each Child Element*/
.category ul {
	list-style-type: none;
	border-top: 1px solid black;
	padding-left: 0px;
}

.category ul li{
   padding: 2px;
   margin: 2px;
}


/*Styles Links on Hover*/
a:hover {
  color: #2e8b57;
}


/*MAIN CONTENT*/
header {
	font-family: Impact, arial, sans-serif;
	font-style: italic;
	font-weight: lighter;
}

header h4:last-child{
	font-style: normal;
	font-family:Arial, Helvetica, sans-serif;
}

.main-content{
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-content, label, td, tr{
	font-family:Arial, Helvetica, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
  }

/*Fix later*/
.item-category{
	font-weight: bold;
}

button, input[type=submit]{
	background-color: silver;
	border-radius: 10px;
	border: none;
}

button:hover, input[type=submit]:hover, .remove-button{
	background-color: rgb(255, 255, 255);
	border: solid;
}

input[type=submit]{
	height: 25px;
	width: 75px;
}

/*Fix with media queries*/
.item {
	/*border-style: solid;*/
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

#login{
	margin-left: auto;
	height: 100%;
	width: 200px;
	
}

/*For checkout items*/
.CIbrand, .CImodel, .CIsize, .CIprice{
	font-weight: 400;
} 

.remove-button:hover{
	background-color: silver;

}


/*Checkout Window*/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }